[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = https://github.com/iissnan/hexo-theme-next.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next.git
